.about-us{
    @include max-breakpoint(xs){
        text-align: center;  
    }
    .o-nama-grid{

        @include max-breakpoint(xs){
            padding-top: 40px;
        }
    }
    h4{
        color: $primary;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    .o-nama-text{
        padding: 0 100px;
        @include max-breakpoint(xs){
            padding: 0 40px;
        }
        h5{
            font-size: 26px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #212529;
        }
        p{
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 20px;
            color: #868e96;
            &.quality{
                margin-bottom: 20px;
            }
            &:last-child{
                margin-bottom: 45px;
            }
        }
        img{
            margin-bottom: 20px;
        }
    }

    img {
      width: 100%;
    }
}