.hero-contact-image{
  background: url('../img/hero-contact.jpg') no-repeat center;
  background-size: cover;
  height: 300px;
  width: 100%;
  @include max-breakpoint(xs){
      display: none;
  }
}

#contact{

  h2{
    color: $primary;
    font-size: 30px;
    font-weight: 300;
    padding: 0 13px;
    @include max-breakpoint(xs){
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .form-padding{
    padding: 0 30px;

    @include max-breakpoint(lg){
      padding-right: 0;
      padding-left: 0;
    }
    @include max-breakpoint(md){
      padding: 0 15px;
    }

    .vertical-center {
      display: flex;
      align-items: center;
      padding-left: 0;
      @include max-breakpoint(md){
        padding-left: 15px;
        padding-right: 15px;
      }

      .ministudio{
        margin-bottom: 40px;
      }
    }

    ul{
      list-style: none;
      padding-left: 0;

      li{
        padding-left: 25px;
        position: relative;
        margin-bottom: 10px;
        font-size: 14px;
        color: #868e96;
        svg{
          position: absolute;
          left: 0;
          top: 5px;
          color: $primary;
        }

        a{
          color: #868e96;
        }
      }
    }

    .forma{
      padding: 30px 0 30px 30px;

      @include max-breakpoint(md){
        padding-left: 0;
      }

      @include max-breakpoint(sm){
        margin-right: -15px;
        margin-left: -15px;
      }

      label{
        width: 100%;
        font-size: 14px;
        color: #868e96;
      }

      textarea{
        width: 100%;
        border: 1px solid $form-color;
        margin-top: 25px;
        min-height: 170px;
        font-size: 14px;
      }

      input{
        width: 100%;
        border: none;
        border-bottom: 1px solid $form-color;
        margin-bottom: 25px;
      }

      button{
        border-radius: 0;
        color: white;
        padding: 10px 30px;

        @include max-breakpoint(sm){
          margin-bottom: 30px;
        }
      }

      span{
        color: red;
      }
    }
  }
}

