.made-by{
    height: 70px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    .container{
        margin-left: 0;
        .row{
            .copy{
                display: flex;
                align-items: center;
            }
            // .copy-social{
            //     display: flex;
            //     align-items: center;
            // }
            .copyright{
                text-align: left;
                color: white;
                font-size: 14px;
                margin-bottom: 0;
                @include max-breakpoint(lg){
                    font-size: 12px;
                }
                @include max-breakpoint(md){
                    margin-bottom: 5px;
                  }
                @include max-breakpoint(sm){
                    text-align: center;
                }
                p{
                    &.copyright{
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .social-icons{
                text-align: right;
                @include max-breakpoint(sm){
                    text-align: center;
                }
                svg{
                    color: white;
                    margin-left: 10px;
                }
            }
        }
    }

}
p.copyright{
    width: 100% !important;
}