.made-by{
    height: 70px;
    background-color: $secondary;
    padding-top: 25px;

    .container{

        .row{

            .copyright{
                text-align: left;
                color: white;
                font-size: 14px;
            }

            .social-icons{
                text-align: right;

                svg{
                    color: white;
                    margin-left: 10px;
                }
            }
        }
    }

}