#homepage{

  .index-slider{
    max-height: 900px;
    overflow-y: hidden;

    .owl-carousel{

      .slide{

        img{
          object-fit: cover;
        }
      }
    }

    .owl-nav{
      display: block;
      width: 100%;
      position: absolute;
      top: 48%;

      @include min-breakpoint(lg) {
        top: 38%;
      }

      @include min-breakpoint(md) {
        top: 43%;
      }

      @include max-breakpoint(sm){
        display: none;
      }

      .owl-prev{
        display: none;
      }

      .owl-next{
        position: absolute;
        left: 50%;
        margin-left: 610px;

        @include max-breakpoint(lg) {
          left: auto;
          margin-left: auto;
          right: 10px;
        }
      }
    }
  }

  .body-content{
    padding-top: 50px;
    padding-bottom: 30px;

    img{

      &.logo{
        display: block;
        width: 190px;
        height: auto;
        margin-bottom: 30px;
      }

    }

    .footer-logo{
      padding-right: 50px;
    }

    .contact{

      ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li{
          padding-left: 30px;
          position: relative;
          color: $letters-color;
          font-size: 14px;
          margin-bottom: 10px;

          &:last-child{
            margin-bottom: 0;
          }

          a{
            color: $letters-color;;

            &:hover{
              text-decoration: none;
              color: $primary;
            }

            svg{
              position: absolute;
              left: 0;
              top: 5px;
              color: $primary;
            }
          }

          svg{
            position: absolute;
            left: 0;
            top: 5px;
            color: $primary;
          }
        }
      }
    }

    p{
      color: $letters-color;
      font-size: 14px;

      &.title{
        font-weight: 500;
        font-size: 16px;
        color: $primary;
        text-transform: uppercase;
        margin-bottom: 50px;
      }
    }

    .insta{
      display: block;
      width: 300px;
      padding-left: 55px;
      padding-right: 55px;

      ul{

        list-style: none;
        padding-left: 0;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;

        li{

          img{
            width: 100%;
            height: auto;
          }
        }
      }

      p{

        &.title{
          text-align: center;
          margin-bottom: 30px;
        }

        color: $letters-color;
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;

        a{

          color: $primary;
        }
      }
    }
  }
}