#site-content{
  width: calc(100% - 270px);
  transform: translate(270px , 0);

  @include max-breakpoint(lg){
    width: calc(100% - 270px);
    transform: translate(270px , 0);
  }

  @include max-breakpoint(md){
    width: 100%;
    transform: translate(0 , 0);
  }
}

#homepage{
  .index-slider{
    position: relative;

    .owl-nav {
      opacity: 0;
      transition: opacity .1s;
    }

    &:hover {
      .owl-nav {
        opacity: 1;
      }
    }

    .owl-carousel {
      .slide {
        padding: 0;

        img {
          max-height: 100vh;
        }
      }
    }
  }

  .full3{
    background-color: #f5f5f5;

  .body-content{
    background-color: #f5f5f5;
    padding: 30px 15px;

    .body-content-row{
      display: flex;

      @include max-breakpoint(md){
        justify-content: center;
      }
    }

    @include max-breakpoint(md){
      margin-left: auto;
    }

    img {
      &.logo {
        display: block;
        width: 190px;
        height: auto;
        margin-bottom: 17px;

        @include max-breakpoint(xs){
          display: none;
        }
      }
    }

    .footer-logo {
      padding-right: 50px;

      @include max-breakpoint(xs){
        padding-right: 15px;
        text-align: center;
      }
    }

    .contact{
      padding-top: 15px;

      ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li{
          padding-left: 30px;
          position: relative;
          color: $letters-color;
          font-size: 14px;
          margin-bottom: 10px;
          @include max-breakpoint(xs){
            padding-left: 0;
          }
          &:last-child{
            margin-bottom: 0;
          }

          a{
            color: $letters-color;;

            &:hover{
              text-decoration: none;
              color: $primary;
            }

            svg{
              position: absolute;
              left: 0;
              top: 5px;
              color: $primary;
            }
          }

          svg{
            position: absolute;
            left: 0;
            top: 5px;
            color: $primary;
            @include max-breakpoint(xs){
              display: none;
            }
          }
        }
      }
      @include max-breakpoint(xs){
        text-align: center;
      }
    }

    p{
      color: $letters-color;
      font-size: 14px;

      &.title{
        font-weight: 500;
        font-size: 16px;
        color: $primary;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include max-breakpoint(xs){
          margin-bottom: 20px;
        }
      }
    }

    .insta{
      display: block;
      width: 300px;
      padding-top: 15px;
      @include max-breakpoint(xs){
        padding-top: 30px;
      }
      ul{

        list-style: none;
        padding-left: 0;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;

        li{

          img{
            width: 100%;
            height: auto;
          }
        }
      }

      p{

        &.title{
          text-align: center;
          margin-bottom: 20px;
          font-weight: 500;
          font-size: 16px;
        }

        color: $letters-color;
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;

        a{

          color: $primary;
        }
      }
    }
  }
}
}
 .slajder{
   padding: 60px 0 0;

    @include min-breakpoint(md){
      padding: 0;
  }
}


.slajder {
  .owl-dots {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 15px 0;
  }

  .owl-dot {
    display: inline-flex;
    
    span {
      display: inline-block;
      height: 12px;
      width: 12px;
      margin: 5px 7px;
      background: none;
      border: 2px solid $primary;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    }

    &.active span {
      background-color: $primary;
    }
  }
}

.owl-carousel {
  .ft-arrow {
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    padding: 15px;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}

.form-group {
  label {
    font-size: 14px;
    color: $letters-color;
  }

  &.required {
    label::after {
      display: inline;
      content: "*";
      color: red;
    }
  } 
}

.form-control {
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dad6d5;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0;

  &:hover {
    border-bottom-color: #424242;
  }

  &:focus {
    border-bottom-color: $primary;
  }
}

.btn {
  border-radius: 0;
  padding: 10px 30px;
  
  &-primary {
    color: white !important;
  }
}

.katalog {
  display: block;
}

.katalog-img {
  position: relative;
  margin-bottom: 15px;

  &:hover {
    .katalog-img__icon {
      opacity: 1;
    }
  }

  img {
    margin: 0 !important;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba($primary, .75);
    opacity: 0;
    transition: opacity .21s;

    .icon {
      width: 48px !important;
    }
  }
}
