#site-content{
  width: calc(100% - 270px);
  transform: translate(270px , 0);
  @include max-breakpoint(lg){
    width: calc(100% - 270px);
    transform: translate(270px , 0);
  }
  @include max-breakpoint(md){
    width: 100%;
    transform: translate(0 , 0);
  }
}
#homepage{

  .index-slider{
    // max-height: 900px;
    position: relative;
    .arrow-right{
      position: absolute;
      width: 30px;
      height: 30px;
      border-top: 2px solid $black;
      border-right: 2px solid $black;
      top: 50%;
      right: 20px;
      transform: rotate(45deg) translate(0,-50%);
      display: none;
    }
    .owl-carousel{

      .slide{
        padding: 0;
        img{
          max-height: 100vh;
        }
      }
    }

    .owl-nav{
      display: none;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(0 , -50%);
      @include max-breakpoint(xs){
        display: none;
      }

      .owl-prev{
       position: absolute;
       left: 40px;
      }

      .owl-next{
        position: absolute;
        right: 40px;
      }
    }
  }

  .full3{
    background-color: #f5f5f5;
  .body-content{
    background-color: #f5f5f5;
    padding: 30px 15px;
    .body-content-row{
      display: flex;
      @include max-breakpoint(md){
        justify-content: center;
      }
    }

    @include max-breakpoint(md){
      margin-left: auto;
    }
    img{

      &.logo{
        display: block;
        width: 190px;
        height: auto;
        margin-bottom: 17px;
        @include max-breakpoint(xs){
          display: none;
        }
      }

    }

    .footer-logo{
      padding-right: 50px;
      @include max-breakpoint(xs){
        padding-right: 15px;
        text-align: center;
      }
    }

    .contact{
      padding-top: 15px;

      ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li{
          padding-left: 30px;
          position: relative;
          color: $letters-color;
          font-size: 14px;
          margin-bottom: 10px;
          @include max-breakpoint(xs){
            padding-left: 0;
          }
          &:last-child{
            margin-bottom: 0;
          }

          a{
            color: $letters-color;;

            &:hover{
              text-decoration: none;
              color: $primary;
            }

            svg{
              position: absolute;
              left: 0;
              top: 5px;
              color: $primary;
            }
          }

          svg{
            position: absolute;
            left: 0;
            top: 5px;
            color: $primary;
            @include max-breakpoint(xs){
              display: none;
            }
          }
        }
      }
      @include max-breakpoint(xs){
        text-align: center;
      }
    }

    p{
      color: $letters-color;
      font-size: 14px;

      &.title{
        font-weight: 500;
        font-size: 16px;
        color: $primary;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include max-breakpoint(xs){
          margin-bottom: 20px;
        }
      }
    }

    .insta{
      display: block;
      width: 300px;
      padding-top: 15px;
      @include max-breakpoint(xs){
        padding-top: 30px;
      }
      ul{

        list-style: none;
        padding-left: 0;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;

        li{

          img{
            width: 100%;
            height: auto;
          }
        }
      }

      p{

        &.title{
          text-align: center;
          margin-bottom: 20px;
          font-weight: 500;
          font-size: 16px;
        }

        color: $letters-color;
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;

        a{

          color: $primary;
        }
      }
    }
  }
}
}
 .slajder{
   padding: 60px 0 0;

    @include min-breakpoint(md){
      padding: 0;
  }
}