.press-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 42px;

  &__details {
    position: relative;
    flex-grow: 1;
  }

  &__title {
    color: $primary;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
  }

  &__date {
    font-size: 14px;
  }

  &__link {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    
    &:hover {
      opacity: .8;
    }
  }

  &__thumbnail {
    // max-height: 258px;
    // max-width: 200px;
    margin-right: 32px;
  }
}