#product-page{
  box-sizing: border-box;

  .product{
    display: flex;

    .left-column{
      flex-grow: 1;
    }
  
    .right-column{
      display: flex;
      background-color: $primary;
  
      @include max-breakpoint(xxl){
        width: 100%;
      }
    }
  }
  

  .img-fluid2{
    width: 100%;
    height: auto;
  }

  .text-holder{
    display: block;
    opacity: 0.8;
    padding: 63px 50px;
    margin: auto 0;
    
    @include min-breakpoint(lg){
      padding: 0 50px;
    }

    p{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;

      &:last-child{
        margin-bottom: 0;
      }

      span{
        font-weight: 700;
      }
    }
  }

  .description{
    position: relative;

    .naslov-sadrzaj {
      margin-top: 30px;

        h3 {
          font-weight: 300;
          color: $letters-color;
          font-size: 26px;
          margin-bottom: 30px;
    
          @include max-breakpoint(sm){
            margin-bottom: 20px;
          }
        }
      }

    .description-row {
      display: flex;
      margin-bottom: 30px;

      .sadrzaj {
        flex-grow: 1;
      }

      h5 {
        color: $primary;
        font-size: 20px;
        font-weight: 300;
      }

      p {
        color: $letters-color;
        font-size: 14px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .soc {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;

    @include min-breakpoint(sm){
      padding-left: 50px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    color: $letters-color;

    a {
      padding-left: 15px;
    }
  }

  .download2 {
    display: none;

    @include max-breakpoint(sm){
      display: inline-block;
    }
  }

  .pdf {
    width: 50px;
    flex-shrink: 0;
    margin-right: 50px;
    border-right: 2px solid $primary;

    @include max-breakpoint(sm){
      display: none;
    }

    img {
      width: 100%;
    }
  }

  .product-slider {
    position: relative;
    padding: 0 50px;
    margin-bottom: 40px;

    .blue-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }
  }
}


.pdf2 {
  display: none;

  @include max-breakpoint(sm) {
    display: flex;
  }

  img {
    @include max-breakpoint(sm) {
      width: 28px;
    }
  }
}