@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;

  a{
    transition: all 0.5s;
  }
}
.container-fluid, .container{
  padding: 0;
}
.row{
  margin: 0;
}
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: $primary;
}
::selection {
  color: #fff;
  background: $primary;
}
.container{
  @include max-breakpoint(xs) {
    max-width: 526px;
  }
  @include max-breakpoint(sm) {
    max-width: 720px;
  }
  @include max-breakpoint(md) {
    max-width: 940px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 1150px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1290px;
  }
}
.fixed-nav{
  // background-color: rgba($color: #000000, $alpha: .4);
  position: fixed;
  right: 0;
  top: calc(35vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 9999 !important;
  transition: all .5s ease;
  @include max-breakpoint(md){
    display: none;
  }
  @include max-breakpoint(xs){
    top: 135px;
  }
  .location{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }
  .location-p{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    a{
      text-decoration: none;
    }
  p{
      color: $secondary;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 12px;
      color: transparent;
      transition: all .5s ease;
    }
  }
  .location-icon{
    height: 40px;
    width: 40px;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: 15px;
    border: 1px solid $secondary;
    .fa-map-marker-alt{
      color: #fff;
    }
  }
  .phone{
    display: flex;
    align-items: center;
  }
  .phone-p{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    a{
      text-decoration: none;
    }
    p{
      text-transform: uppercase;
      color: transparent;
      margin-bottom: 0;
      font-size: 12px;
      transition: all .5s ease;
    }
  }
  .phone-icon{
    // margin-left: 15px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $secondary;
    .fa-phone{
      color: $secondary;
    }
  }
  }
#side-menu{
  position: fixed;
  display: block;
  width: 280px;
  background-color: $background;
  z-index: 999;

  transition: all 0.5s;

  transform: translate(-280px, 0);

  &.active{
    transform: translate(0, 0);

    + #site-content{
      transform: translate(280px, 0);
    }
  }

  #accordion{
    .card{
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;

      .card-header{
        position: relative;
        background-color: $background;
        border-radius: 0;
        transition: all .3s ease;
        h5{
          text-transform: uppercase;
        }
        &:hover{
          opacity: .7;
        }
        a{
          font-size: 16px;
          color: $letters-color;
          text-decoration: none;
        }

        .plusic{
          position: absolute;
          top: 12px;
          right: 15px;
          &.collapsed{

            svg{
              transform: rotate(0deg);
            }
          }

          svg{
            color: $letters-color;
            font-size: 16px;
            cursor: pointer;
            transform: rotate(45deg);
          }
        }
      }

      .card-body{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        background-color: $background;
        p{
          a{
            text-decoration: none;
            text-transform: uppercase;
            color: $letters-color;
            font-size: 12px;
          }
        }
      }
    }
  }

}

#site-content{
  // min-height: 2100px;

  .back-logo{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    flex-wrap: nowrap;
    padding: 25px;
    display: none;

    @include max-breakpoint(full-hd){
      display: flex;
    }

    @include max-breakpoint(md){
      display: none;
    }

    .trigger2{
      color: $primary;
      font-size: 30px;
      margin-top: 10px;
      margin-left: 40px;
      cursor: pointer;
    }
  }

  transition: all 0.5s;

  .fluid-nav{
    position: fixed;
    z-index: 2;

    transition: all 0.5s;

  }

  #trigger{
    font-size: 30px;
    color: $letters-color;
    position: absolute;
    right: 30px;
    top: 30px;
    display: none;
    cursor: pointer;


    @include max-breakpoint(md){
      display: block;
      z-index: 9999 !important;
    }
  }

  #hover-over{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100%;
    opacity: 0.7;
    background-color: black;
  }
}

.two-boxes{
  display: flex;
  position: fixed;
  top: 218px;
  height: 80px;
  flex-wrap: nowrap;
  z-index: 4;
  transition: all .5s ease;
  opacity: 1;

  @include max-breakpoint(full-hd){
    opacity: 0;
  }

  &.active{
    opacity: 1;
  }

  .left-box{
    display: block;
    width: 170px;
    height: 80px;
    background-color: $primary;
    margin-right: 10px;
  }

  .right-box{
    display: block;
    width: auto;
    height: 80px;
    background-color: $primary;
    opacity: 0.8;
    color: white;
    padding: 24px 45px;

    h2{
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}

#desktop-side-menu{
  display: block;
  position: fixed;
  background-color: white;
  width: 305px;
  height: 100vh;
  z-index: 3;
  transform: translate(0,0);
  transition: all .5s ease;

  @include max-breakpoint(full-hd){
    transform: translate(-305px,0);
  }

  @include max-breakpoint(md){
    display: none;
  }

  &.active{
    transform: translate(0,0);
  }

  .logo{
    margin-top: 80px;
    margin-bottom: 80px;

    img{
      display: block;
      width: 258px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .nav-content{
    margin-top: 205px;
    padding: 25px;

    ul{
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      li{
        text-align: center;
        height: 50px;
        border-bottom: 1px solid lighten($letters-color, 35%);
        padding-top: 15px;

        &:last-child{
          border-bottom: none;
        }

        a{
          color: $letters-color;
          text-transform: uppercase;
          font-size: 16px;

          &:hover{
            text-decoration: none;
            color: $primary;
          }
        }
      }
    }
  }

  .social-icons{
    margin-top: 50px;
    text-align: center;

    svg{
      margin-right: 15px;
      font-size: 24px;
    }
  }
}


