@import "colors";
@import "~bootstrap/scss/bootstrap";
@import "mixin";
@import "side-menu";
@import "copyright";
@import "index";
@import "collections";
@import "product";
@import "about-us";
@import "contact";
@import "design";
@import "gallery";

#back-to-top {
    position: fixed;
    background-image: url('../img/btt1.jpg');
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    text-decoration: none;
    transition: all .5s ease;
    opacity: 0;
}
#back-to-top:hover {
    background-image: url('../img/btt2.jpg');
}
#back-to-top.show {
    opacity: 1;
}
