<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fusion tables</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
</head>

<body>
    <%= require('html-loader!./inc/mobile-side-menu.html') %>

    <div id="site-content">

        <!-- <div class="back-logo">
            <a href="#"><img src=<%= require("./img/logo.png") %> alt="fusion tables" /></a>
            <div class="trigger2">
                <i class="fas fa-bars"></i>
            </div>
        </div> -->


        <div id="homepage">

                <div class="two-boxes">
                        <div class="left-box">
                    
                        </div>
                        <div class="right-box">
                            <h2>o nama</h2>
                        </div>
                    </div>
                    
                    <div id="desktop-side-menu">
                        <div class="logo">
                                <img src=<%= require("./img/logo.png") %> alt="fusion tables" />
                        </div>
                        <div id="accordion2">
                            <div class="card">
                                <div class="card-header" id="heading-desktop-1">
                                    <h5 class="mb-0">
                                        <a href="#">home</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-2">
                                    <h5 class="mb-0">
                                        <a href="#">o nama</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-3">
                                    <h5 class="mb-0">
                                        <a href="#">kolekcije</a>
                                        <div class="plusic collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            <i class="fas fa-sort-down"></i>
                                        </div>
                                    </h5>
                                </div>
                    
                                <div id="collapse3" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            <a href="#">stolovi i sidebars</a>
                                        </p>
                                        <p>
                                            <a href="#">aksesoari</a>
                                        </p>
                                        <p>
                                            <a href="#">stolice i klupe</a>
                                        </p>
                                        <p>
                                            <a href="#">rasveta</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-4">
                                    <h5 class="mb-0">
                                        <a href="#">dizajn</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-5">
                                    <h5 class="mb-0">
                                        <a href="#">iskustva</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-6">
                                    <h5 class="mb-0">
                                        <a href="#">kvalitet</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-7">
                                    <h5 class="mb-0">
                                        <a href="#">galerija</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-7">
                                    <h5 class="mb-0">
                                        <a href="#">press</a>
                                    </h5>
                                </div>
                            </div>
                            <!-- <div class="card">
                                <div class="card-header" id="heading-desktop-7">
                                    <h5 class="mb-0">
                                        <a href="#">konfigurator</a>
                                    </h5>
                                </div>
                            </div> -->
                            <div class="card">
                                <div class="card-header" id="heading-desktop-7">
                                    <h5 class="mb-0">
                                        <a href="#">kontakt</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    
                        <div class="social-icons">
                            <!-- <a href="#">
                                <i class="fab fa-facebook"></i>
                            </a> -->
                            <!-- <a href="#">
                                <i class="fab fa-linkedin"></i>
                            </a> -->
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <!-- <a href="#">
                                <i class="fab fa-pinterest-square"></i>
                            </a> -->
                        </div>
                        <div class="blue">
                    
                        </div>
                    </div>

            <div class="container-fluid fluid-nav">
                <div class="container fluid-nav-cont">
                    <i class="fas fa-bars" id="trigger"></i>
                    <img src="./img/logo.png" alt="fusion table" class="logo" />
                </div>
            </div><!-- .container-fluid -->

            <section>
                <div class="container-fluid hero-image">
                    <!-- <img src=<%= require("./img/collections/hero/collections-hero.jpg") %> alt="hero" /> -->
                </div>
            </section>

            <section>
                <div class="container" style="padding: 0 15px;">
                    <div class="row">
                        <div class="col-lg-12">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">home</a></li>
                                    <li class="breadcrumb-item active"><a href="#">o nama</a></li>
                                </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container about-us">
                    <div class="row o-nama-grid">
                        <div class="o-nama-text">
                            <h5>naslov</h5>
                            <p>For more than 85 years, the Aramith group has developed and manufactured products that bring value to the consumer. By focusing on top quality products since the creation of our company in 1923, we have constantly adapted our range to changes in our customers' lifestyles Our desire to listen, look, analyse and anticipate has enabled us to be trendsetting at many times..</p>
                            <a href="#"><img class="img-fluid" src=<%= require("./img/about-us/about-us-1.jpg") %> alt="about-us-1" /></a>
                            <p>We do not take success for granted because we believe that customers are entitled to be demanding. We specialise in the field of lifestyle and sharing pleasure in the comfort of your home, with family or friends from all generations. The Fusion table offers a completely new concept for the dining room. A unique product which meets a need to join together. With its surprising design concept, the Fusion table adds a new dimension to entertainment at home. Rather than an external sign of wealth, it offers its know-how to help you to relax and unwind at home. At a time when most people spend hours alone in front of their computer, going home and having fun with friends offers balance and meaning to life. Our team took great pleasure in designing the Fusion table. It hopes that you will have just as much pleasure using it.</p>
                            <a href="#"><img class="img-fluid" src=<%= require("./img/about-us/about-us-2.jpg") %> alt="about-us-2" /></a>
                            <p>Saluc sa - 2 Rue de Tournai - 7604 Callenelle - Belgium<br>
                                +32 69 77 82 11 - info@fusiontables.com</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="full3">
            <section class="container body-content">
                <div class="row body-content-row">
                    <div class="col-sm-6 col-md-4 col-lg-4 footer-logo">
                        <img src="./img/logo.png" alt="fusion table" class="logo" />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem distinctio dolor dolorem eaque et eveniet inventore ipsa labore
                            minima odit, officiis reiciendis repellat sequi, soluta tempore, tenetur ut vitae.
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 contact">
                        <p class="title"><a href="#">Kontakt</a></p>
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i>Zmaja od noćaja 12, Belgrade, Serbia</li>
                            <li><a href="#"><i class="far fa-envelope"></i>support@fusiontables.rs</a></li>
                            <li><a href="#"><i class="fas fa-phone"></i>(+381) 11 123 456 <br> (+381) 63 123 456</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 insta">
                        <p class="title"><a href="#">Instagram feed</a></p>
                        <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/4379931830f0549a9833d6dcac9dcbcc.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                        <p>Pratite nas: <a href="#">@fusiontablesrs</a></p>
                    </div>
                </div>
            </section><!-- .container -->
        </div>

            <%= require('html-loader!./inc/footer.html') %>

        </div>


    </div>
</body>

</html>