<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fusion tables</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
</head>

<body>
  <%= require('html-loader!./inc/mobile-side-menu.html') %>

    <div id="site-content">

      <div id="homepage">

        <div class="two-boxes">
          <div class="left-box">

          </div>
          <div class="right-box">
            <h2>o nama</h2>
          </div>
        </div>

        <div id="desktop-side-menu">
          <div class="logo">
            <img src=<%= require( "./img/logo.png") %> alt="fusion tables" />
          </div>
          <div id="accordion2">
            <div class="card">
              <div class="card-header" id="heading-desktop-1">
                <h5 class="mb-0">
                  <a href="#">home</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-2">
                <h5 class="mb-0">
                  <a href="#">o nama</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-3">
                <h5 class="mb-0">
                  <a href="#">kolekcije</a>
                  <div class="plusic collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <i class="fas fa-sort-down"></i>
                  </div>
                </h5>
              </div>

              <div id="collapse3" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    <a href="#">stolovi i sidebars</a>
                  </p>
                  <p>
                    <a href="#">aksesoari</a>
                  </p>
                  <p>
                    <a href="#">stolice i klupe</a>
                  </p>
                  <p>
                    <a href="#">rasveta</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-4">
                <h5 class="mb-0">
                  <a href="#">dizajn</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-5">
                <h5 class="mb-0">
                  <a href="#">iskustva</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-6">
                <h5 class="mb-0">
                  <a href="#">kvalitet</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-7">
                <h5 class="mb-0">
                  <a href="#">galerija</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-7">
                <h5 class="mb-0">
                  <a href="#">press</a>
                </h5>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="heading-desktop-7">
                <h5 class="mb-0">
                  <a href="#">kontakt</a>
                </h5>
              </div>
            </div>
          </div>

          <div class="social-icons">
            <a href="https://www.facebook.com/fusiontablesserbia/" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/fusiontables/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>

          </div>
          <div class="blue">

          </div>
        </div>

        <div class="container-fluid fluid-nav">
          <div class="container fluid-nav-cont">
            <i class="fas fa-bars" id="trigger"></i>
            <img src="./img/logo.png" alt="fusion table" class="logo" />
          </div>
        </div>
        <!-- .container-fluid -->

        <section>
          <div class="container-fluid hero-image"></div>
        </section>

        <section>
          <div class="container" style="padding: 0 15px;">
            <div class="row">
              <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#">home</a>
                  </li>
                  <li class="breadcrumb-item active">
                    <a href="#">archi-club</a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container about-us mb-4">
            <div class="o-nama-grid">
              <div class="o-nama-text">
                <div class="text-left">
                  <h5>Kontaktirajte nas</h5>
                  <p>Ukoliko ste zainteresovani za više informacija vezano za FusionTables , molimo Vas popunite kontakt formu.<br/>Biće nam zadovoljstvo da Vam odgovorimo u najkraćem mogućem roku.</p>
                </div>
                <div class="text-left">
                  <form>
                    <div class="row form-fields mb-2">
                      <div class="col-xl-6 col-lg-12">
                        <div class="form-group required">
                          <label class="" for="name">Ime i prezime</label>
                          <input class="form-control" type="text" id="name" name="name" />
                        </div>
                        <div class="form-group">
                          <label for="company">Kompanija</label>
                          <input class="form-control" type="text" id="company" name="company" />
                        </div>
                        <div class="form-group">
                          <label for="city">Grad</label>
                          <input class="form-control" type="text" id="city" name="city" />
                        </div>
                        <div class="form-group">
                          <label for="country">Država</label>
                          <input class="form-control" type="text" id="country" name="country" />
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-12">
                        <div class="form-group required">
                          <label for="profile">Profil</label>
                          <div class="select">
                            <div class="select_field">
                              <select id="profile" name="profile">
                                <option value="" disabled selected>Izaberite profil</option>
                                <option value="kupac">Zainteresovan sam za kupovinu</option>
                                <option value="prodavac">Zainteresovan sam za prodaju</option>
                                <option value="arhitekta">Arhitekta</option>
                                <option value="dizajner">Dizajner enterijera</option>
                                <option value="agent">Agent/Press</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-group required">
                          <label for="email">Email</label>
                          <input class="form-control" type="text" id="email" name="email" />
                        </div>
                        <div class="form-group">
                          <label for="telephone">Telefon</label>
                          <input class="form-control" type="text" id="telephone" name="telephone" />
                        </div>
                        <div class="form-group required">
                          <label for="message">Poruka</label>
                          <textarea class="form-control" id="message" name="message" rows="6"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="position-relative">
                      <div class="g-recaptcha"></div>
                      <button type="submit" class="btn btn-primary">Pošalji</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>

        <%= require('html-loader!./inc/footer.html') %>

      </div>


    </div>
</body>

</html>