<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fusion tables</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
</head>

<body>
    <%= require('html-loader!./inc/mobile-side-menu.html') %>

    <div id="site-content">


        <div id="homepage">

            <%= require('html-loader!./inc/desktop-side-menu.html') %>

            <div class="container-fluid fluid-nav">
                <div class="container">
                    <i class="fas fa-bars" id="trigger"></i>
                </div>
            </div>
            <div class="container-fluid">
                <div class="index-slider">
                    <div class="owl-carousel owl-theme">
                        <div class="slide"><img src="./img/slider-1.jpg" alt="slider 1" /></div>
                        <div class="slide"><img src="./img/slider-1.jpg" alt="slider 1" /></div>
                        <div class="slide"><img src="./img/slider-1.jpg" alt="slider 1" /></div>
                    </div>
                </div>
                <div class="container" style="border: 1px solid red">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Dummy text</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section>
            <footer>
                <div class="container-fluid made-by">
                    <div class="container">
                        <div class="row">
                            <div class="copyright">

                            </div>
                            <div class="social-icons">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</body>

</html>