<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fusion tables</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
</head>

<body>
  <div id="back-to-top"></div>


  <%= require('html-loader!./inc/mobile-side-menu.html') %>

    <div id="site-content">

      <div id="homepage">

        <div class="two-boxes">
          <div class="left-box">

          </div>
          <div class="right-box">
            <h2>beli sto</h2>
          </div>
        </div>

        <div id="desktop-side-menu">
          <div class="logo">
            <img src=<%= require("./img/logo.png") %> alt="fusion tables" />
          </div>
          <div id="accordion2">
            <div class="card">
              <div class="card-header" id="heading-desktop-1">
                <h5 class="mb-0">
                  <a href="#">home</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-2">
                <h5 class="mb-0">
                  <a href="#">o nama</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-3">
                <h5 class="mb-0">
                  <a href="#">kolekcije</a>
                  <div class="plusic collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <i class="fas fa-sort-down"></i>
                  </div>
                </h5>
              </div>

              <div id="collapse3" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    <a href="#">stolovi i sidebars</a>
                  </p>
                  <p>
                    <a href="#">aksesoari</a>
                  </p>
                  <p>
                    <a href="#">stolice i klupe</a>
                  </p>
                  <p>
                    <a href="#">rasveta</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-4">
                <h5 class="mb-0">
                  <a href="#">dizajn</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-5">
                <h5 class="mb-0">
                  <a href="#">iskustva</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-6">
                <h5 class="mb-0">
                  <a href="#">kvalitet</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-7">
                <h5 class="mb-0">
                  <a href="#">galerija</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading-desktop-7">
                <h5 class="mb-0">
                  <a href="#">press</a>
                </h5>
              </div>
            </div>
            <!-- <div class="card">
                                <div class="card-header" id="heading-desktop-7">
                                    <h5 class="mb-0">
                                        <a href="#">konfigurator</a>
                                    </h5>
                                </div>
                            </div> -->
            <div class="card">
              <div class="card-header" id="heading-desktop-7">
                <h5 class="mb-0">
                  <a href="#">kontakt</a>
                </h5>
              </div>
            </div>
          </div>

          <div class="social-icons">
            <a href="https://www.facebook.com/fusiontablesserbia/" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>

            <!-- <a href="#">
                                <i class="fab fa-linkedin"></i>
                            </a> -->

            <a href="https://www.instagram.com/fusiontables/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <!--
                            <a href="#">
                                <i class="fab fa-pinterest-square"></i>
                            </a>
                            -->
          </div>
          <div class="blue">

          </div>
        </div>

        <div class="container-fluid fluid-nav">
          <div class="container fluid-nav-cont">
            <i class="fas fa-bars" id="trigger"></i>
            <img src="./img/logo.png" alt="fusion table" class="logo" />
          </div>
        </div>
        <!-- .container-fluid -->

        <section>
          <div class="container-fluid hero-image">
            <!-- <img src=<%= require("./img/collections/hero/collections-hero.jpg") %> alt="hero" /> -->
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#">home</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="#">kolekcije</a>
                  </li>
                  <li class="breadcrumb-item active">
                    <a href="">beli sto</a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section id="product-page">
          <div class="container">
            <div class="row no-gutters product">
              <div class="left-column col-lg-10 col-xl-6">
                <img class="img-fluid2" src=<%= require( "./img/beli-sto.jpg") %> alt="beli sto" />
              </div>
              <div class="right-column col-lg-10 col-xl-4">
                <div class="text-holder">
                  <p>
                    <span>Spoljne dimenzije stola</span>: 2.30 m x 1.34 m ; visina : 0.75 m</p>
                  <p>
                    <span>Igrački deo</span>: 1.92 m x 0.96 m</p>
                  <p>Optimalne dimenzije prostorije *4.90 m x 3.95 m (*) sa standardnim & Pro-Cup Aramith ompletom aksesoara</p>
                  <p>Minimalne dimenzije prostorije* 4.38 m x 3.42 m (*) sa premijum Aramith kompletom aksesoara</p>
                  <p>
                    <span>Boja metalnog rama</span>: RAL9003 Bela / Sjaj: 30% (saten)</p>
                </div>
              </div>
            </div>
          </div>

          <div class="container description">
            <div class="row no-gutters description-row">
              <!-- <div class="pdf"> -->
              <!-- <div class="relative">
                                <a href="#"><img src=<%= require("./img/pdf-icon.jpg") %> alt="download" class="download" /></a>
                            </div> -->
              <!-- </div> -->
              <div class="col-lg-10 naslov-sadrzaj">
                <h3>BELI STO - Opis proizvoda </h3>
              </div>
              <div class="col-lg-10 sadrzaj">
                <div class="pdf">
                  <a href="#" data-toggle="tooltip" title="Skini pdf">
                    <img src=<%=  require( "./img/pdf-icon.jpg") %> alt="download" class="download" /></a>
                </div>
                <h5>Elegantni evropski dizajn</h5>
                <p>
                  Elegantni diza j Fusiontable stolova koristi ridigni belo obojeni čelični ram, u koji je smeštena sva snaga i stabilnost,
                  koje su neophodne za držanje jedne igračke površine u mestu. Svi bilijarski aksesoari će biti smešteni
                  na stolu za bilijar, a niko neće znati za njih, sve dok im vi to ne otkrijete.
                </p>

                <h5>Dizajn džepova koji je u procesu patentiranja</h5>
                <p>
                  Kako bi uspešno sve smestili u uzanu gornju površinu Fusiontables modela, dizajneri ovog brenda kreirali su jedinstveno rešenje
                  za džepove. Upotrebom hi-tech najlonske tkanine, ovi džepovi za koje se čeka patent se rašire kada su u
                  njima kugle, da bi se nakon igre vratili u svoje prvobitno stanje.
                </p>

                <h5>Spremni za igru u svako doba</h5>
                <p>
                  Jedinstvena dizajnerska rešenja ovih stolova, ostavljaju dovoljno prostora za sve aksesoare ispod njegove gornje površine.
                  Praznina između površina – bilijarske i trpezarijske, idealna je za odlaganje bilijarskih štapova i svih
                  ostalih neophodnosti. Unikatni džepovi za kugle za koje se čeka patent su prostor u kom se kugle nalaze
                  kada ne igrate bilijar, a nikada se neće previše rastegnuti.
                </p>

                <h5>Easy-Lift sistem za koji se čeka patent</h5>
                <p>
                  Opcioni Easy-Lift sistem sa oprugama dozvoljava vam da sa lakoćom izdignete svoj sto za dodatnih 75 mm na standardnu visinu
                  trpezarijskog stola od 75 cm, kako biste postigli optimalnu visinu za partiju bilijara. Ovaj sistem ne
                  zahteva održavanje i ima osobine automatskog zaključavanja i nivelisanja za koje se čeka patent, a pruža
                  vam maksimalnu.
                </p>

              </div>
              <div class="col-lg-10 soc">
                <div class="social">Podeli
                  <a href="#">
                    <img src=<%= require( "./img/social-icons.jpg") %> alt="social" /></a>
                </div>
                <div class="pdf2">
                  <a href="#" data-toggle="tooltip" title="Skini pdf">
                    <img src=<%= require( "./img/pdf-icon.jpg") %> alt="download" class="download2" /></a>
                </div>
              </div>
            </div>
          </div>
          <!-- .desctiption -->
          <div class="container" style="position: relative">
            <div class="row slider-row no-gutters" style="justify-content: center;">
              <div class="col-lg-10">
                <div id="arrow-wrapper">
                  <div style="position: relative">
                    <img src=<%= require( "./img/blue-left-arrow.jpg") %> alt="beli sto" class="blue-left-arrow" />
                    <img src=<%= require( "./img/blue-right-arrow.jpg") %> alt="beli sto" class="blue-right-arrow" />
                  </div>
                </div>
                <div class="owl-carousel product-slider owl-theme col-md-12">
                  <div class="slide">
                    <img src=<%= require( "./img/product-slider.jpg") %> alt="beli sto" />
                  </div>
                  <div class="slide">
                    <img src=<%= require( "./img/product-slider.jpg") %> alt="beli sto" />
                  </div>
                  <div class="slide">
                    <img src=<%= require( "./img/product-slider.jpg") %> alt="beli sto" />
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

        <div class="full3">
          <section class="container body-content">
            <div class="row body-content-row">
              <div class="col-sm-6 col-md-4 col-lg-4 footer-logo">
                <img src="./img/logo.png" alt="fusion table" class="logo" />
                <p>
                  Vanvremenski i elegantni, Fusion stolovi kreiraju ležernu atmosferu za večeru sa prijateljima. Nakon obroka, svoj Fusion
                  sto možete transformisati u vrhunski sto za bilijar za samo 1 minut! Započnite svoju igru…
                </p>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 contact">
                <p class="title">
                  <a href="#">Kontakt</a>
                </p>
                <ul>
                  <li>
                    <i class="fas fa-map-marker-alt"></i>Zmaja od Noćaja 12, Beograd, Srbija</li>
                  <li>
                    <a href="mailto:support@fusiontables.rs">
                      <i class="far fa-envelope"></i>support@fusiontables.rs</a>
                  </li>
                  <li>
                    <i class="fas fa-phone"></i>
                    <a href="tel:+381113282710">(+381) 11 32 82 710</a>
                    <br>
                    <a href="tel:+391637780088">(+381) 63 778 00 88</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 insta">
                <p class="title">
                  <a href="#">Instagram feed</a>
                </p>
                <!-- LightWidget WIDGET -->
                <script src="//lightwidget.com/widgets/lightwidget.js"></script>
                <iframe src="//lightwidget.com/widgets/4379931830f0549a9833d6dcac9dcbcc.html" scrolling="no" allowtransparency="true"
                  class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                <p>Pratite nas:
                  <a href="#">@fusiontablesrs</a>
                </p>
              </div>
            </div>
          </section>
          <!-- .container -->
        </div>

        <%= require('html-loader!./inc/footer.html') %>

      </div>


    </div>
</body>

</html>