<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fusion tables</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
</head>

<body>
    <%= require('html-loader!./inc/mobile-side-menu.html') %>

    <div id="site-content">

        <!-- <div class="back-logo">
            <a href="#"><img src=<%= require("./img/logo.png") %> alt="fusion tables" /></a>
            <div class="trigger2">
                <i class="fas fa-bars"></i>
            </div>
        </div> -->


        <div id="homepage">

                <div class="two-boxes">
                        <div class="left-box">
                    
                        </div>
                        <div class="right-box">
                            <h2>kvalitet</h2>
                        </div>
                    </div>
                    
                    <div id="desktop-side-menu">
                        <div class="logo">
                                <img src=<%= require("./img/logo.png") %> alt="fusion tables" />
                        </div>
                        <div id="accordion2">
                            <div class="card">
                                <div class="card-header" id="heading-desktop-1">
                                    <h5 class="mb-0">
                                        <a href="#">home</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-2">
                                    <h5 class="mb-0">
                                        <a href="#">o nama</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-3">
                                    <h5 class="mb-0">
                                        <a href="#">kolekcije</a>
                                        <div class="plusic collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            <i class="fas fa-sort-down"></i>
                                        </div>
                                    </h5>
                                </div>
                    
                                <div id="collapse3" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            <a href="#">stolovi i sidebars</a>
                                        </p>
                                        <p>
                                            <a href="#">aksesoari</a>
                                        </p>
                                        <p>
                                            <a href="#">stolice i klupe</a>
                                        </p>
                                        <p>
                                            <a href="#">rasveta</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-4">
                                    <h5 class="mb-0">
                                        <a href="#">dizajn</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-5">
                                    <h5 class="mb-0">
                                        <a href="#">iskustva</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-6">
                                    <h5 class="mb-0">
                                        <a href="#">kvalitet</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-7">
                                    <h5 class="mb-0">
                                        <a href="#">galerija</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading-desktop-7">
                                    <h5 class="mb-0">
                                        <a href="#">press</a>
                                    </h5>
                                </div>
                            </div>
                            <!-- <div class="card">
                                <div class="card-header" id="heading-desktop-7">
                                    <h5 class="mb-0">
                                        <a href="#">konfigurator</a>
                                    </h5>
                                </div>
                            </div> -->
                            <div class="card">
                                <div class="card-header" id="heading-desktop-7">
                                    <h5 class="mb-0">
                                        <a href="#">kontakt</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    
                        <div class="social-icons">
                            <a href="https://www.facebook.com/fusiontablesserbia/" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <!-- <a href="#">
                                <i class="fab fa-linkedin"></i>
                            </a> -->
                            <a href="https://www.instagram.com/fusiontables/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <!-- <a href="#">
                                <i class="fab fa-pinterest-square"></i>
                            </a> -->
                        </div>
                        <div class="blue">
                    
                        </div>
                    </div>

            <div class="container-fluid fluid-nav">
                <div class="container fluid-nav-cont">
                    <i class="fas fa-bars" id="trigger"></i>
                    <img src="./img/logo.png" alt="fusion table" class="logo" />
                </div>
            </div><!-- .container-fluid -->

            <section>
                <div class="container-fluid hero-image">
                    <!-- <img src=<%= require("./img/collections/hero/collections-hero.jpg") %> alt="hero" /> -->
                </div>
            </section>

            <section>
                <div class="container" style="padding: 0 15px;">
                    <div class="row">
                        <div class="col-lg-12">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">home</a></li>
                                    <li class="breadcrumb-item active"><a href="#">kvalitet</a></li>
                                </ol>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container about-us">
                    <div class="row o-nama-grid">
                        <div class="o-nama-text col-md-12">
                            <h4>Najkvalitetnije komponente</h4>
                            <p>Fusion stolovi se proizvode upotrebom najboljih i modernih dizajnerskih materijala, kao i temeljno i strogo odabranog drveta koje dolazi od vrhunskih dobavljača. Stolovi se prave u fabrici u Belgiji, gde se čelik, drvo, MDF, lak i firnajz pretvaraju u zadovoljstvo.</p>
                            <a href="#"><img class="img-fluid" src=<%= require("./img/about-us/about-us-1.jpg") %> alt="about-us-1" /></a>
                            <h4>Precizna proizvodnja</h4>
                            <p>Fusion stolovi se proizvode upotrebom najboljih i modernih dizajnerskih materijala, kao i temeljno i strogo odabranog drveta koje dolazi od vrhunskih dobavljača. Stolovi se prave u fabrici u Belgiji, gde se čelik, drvo, MDF, lak i firnajz pretvaraju u zadovoljstvo.</p>
                            <h4>Sistem ravnih džepova</h4>
                            <p>Kako bi sve komponente bilijarskog stola ostale neprimetne u Fusiontable profilu debljine 12 cm, razvijen je genijalni i jedinstveni sistem džepova. Ovaj sistem sastoji se od snažne high-tech elastične najlonske mreže, koja može držati sve kugle u džepu tokom igre, a vraća se u svoj originalni ravni položaj kada su one izvađene. Metalik klizni sistem nalazi se na njenom vrhu, kako bi se kugle držale u džepovima onda kada je igra završena, bez bojazni od oštećenja. To takođe znači da vaš trpezarijski sto u sebi krije sve neophodne aksesoare za partiju bilijara, koje neće otkriti nikome, ako vi to ne poželite. </p>
                            <a href="#"><img class="img-fluid" src=<%= require("./img/about-us/about-us-2.jpg") %> alt="about-us-2" /></a>
                            <h4>K66 ivice</h4>
                            <p>Fusion stolovi imaju specijalni sistem ivica, opremljen K66 modelom, koji je u svetu poznat po tome što nudi najbolji povrat kugle za bilijar, sa visokom preciznošću tokom igre.</p>
                            <a href="#"><img class="img-fluid" src=<%= require("./img/quality/quality-3.jpg") %> alt="about-us-2" /></a>
                            <h4>Čoja - Simonis tkanina</h4>
                            <p class="quality">Fusion stolovi dolaze sa standardnim pre-instaliranim tkaninama od češljane vune, koje garantuju optimalnu brzinu, lako kotrljanje, lako održavanje i dugotrajnost.</p>
                            <p class="quality">Sa prodajom u preko 50 zemlja, Iwan Simonis tkanina je zaista univerzalni izbor za sve vidove ovog sporta. Svoju reputaciju je zaradila kako među profesionalcima, tako i među amaterima, dok je takođe prvi i glavni izbor za više svetski poznatih turnira.</p>
                            <p class="quality">Simonis je The Cloth of Champions® (tkanina šampiona) i možete koristiti njenu funkcionalnu superiornost kako biste dodatno poboljšali užitak u igri, jer vam ona daje priliku da vam svaka partija bude još bolja.</p>
                            <h4>Rigidni koncept rama – Space-Frame</h4>
                            <p>Unikatna konstrukcija čeličnog rama sa integrisanim sistemom niveliranja, dozvoljava jednostavno, brzo i precizno sklapanje. Nasuprot drvenim bilijarskim stolovima, Space-Frame ne zahteva ispravljanje nakon igre, jer se odupire uticaju temperature ili vlažnosti prostorije u kojoj se nalazi.</p>
                            <a href="#"><img class="img-fluid" src=<%= require("./img/quality/quality-4.jpg") %> alt="about-us-2" /></a>
                            <h4>Tru-Roll Mono-bed Slate</h4>
                            <p>Fusion stolovi dolaze sa 19mm visokom precizno sečenom prirodnom površinom u komadu, koja je već prekrivena čojom, a u kombinaciji sa kvalitetnim i rigidnim Space-Frame ramom, eliminiše sve probleme prilagođavanja koji nastaju sa uobičajenim trodelnim površinama</p>
                            <a href="#"><img class="img-fluid" src=<%= require("./img/quality/quality-5.jpg") %> alt="about-us-2" /></a>
                        </div>
                    </div>
                </div>
            </section>

            <div class="full3">
            <section class="container body-content">
                <div class="row body-content-row">
                    <div class="col-sm-6 col-md-4 col-lg-4 footer-logo">
                        <img src="./img/logo.png" alt="fusion table" class="logo" />
                        <p>
                            Vanvremenski i elegantni, Fusion stolovi kreiraju ležernu atmosferu za večeru sa prijateljima. Nakon obroka, svoj Fusion sto možete transformisati u vrhunski sto za bilijar za samo 1 minut! Započnite svoju igru…
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 contact">
                        <p class="title"><a href="#">Kontakt</a></p>
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i>Zmaja od Noćaja 12, Beograd, Srbija</li>
                            <li><a href="mailto:support@fusiontables.rs"><i class="far fa-envelope"></i>support@fusiontables.rs</a></li>
                            <li><i class="fas fa-phone"></i><a href="tel:+381113282710">(+381) 11 32 82 710</a> <br> <a href="tel:+391637780088">(+381) 63 778 00 88</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 insta">
                        <p class="title"><a href="#">Instagram feed</a></p>
                        <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/4379931830f0549a9833d6dcac9dcbcc.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                        <p>Pratite nas: <a href="#">@fusiontablesrs</a></p>
                    </div>
                </div>
            </section><!-- .container -->
        </div>

            <%= require('html-loader!./inc/footer.html') %>

        </div>


    </div>
</body>

</html>